<div id="format-tabs">
    <button id="pdf-format-tab"
    <% if (book.format.type.toLowerCase() === "pdf") { %> class="selected"
    <% }
    else { %> hx-get="/manuel/format/<%= book.format.title.toLowerCase(); %>/pdf"%>
            <% } %>
    >Format PDF
    </button>
    <button id="papier-format-tab"
    <% if (book.format.type.toLowerCase() === "papier") { %> class="selected"
    <% }
    else { %> hx-get="/manuel/format/<%= book.format.title.toLowerCase(); %>/papier"%>
            <% } %>
    >Format Papier
    </button>
</div>
<div id="format_specs" class="padding_2rem">
    <div class="semi_bold">Titre</div>
    <div class="bold"><%= book.format.title; %></div>
    <div class="semi_bold">Date&nbsp;de&nbsp;publication</div>
    <div>
        <%
        let date = new Date(book.format.date);
        let month_names = [
            'janv', 'févr', 'mars', 'avr', 'mai',
            'juin', 'juil', 'août', 'sept', 'oct',
            'nov', 'déc'
        ];
        %>
        <%= `${ date.getDate() } ${ month_names[date.getMonth()] } ${ date.getFullYear() }`; %></div>
    <div class="semi_bold">Format</div>
    <div id="format_type" class="bold">
        <%= book.format.type; %>
    </div>
    <div class="semi_bold">Taille</div>
    <div class="bold"><%= book.format.size; %></div>
    <div class="semi_bold">Nombre&nbsp;de&nbsp;pages</div>
    <div><%= book.format.pages; %></div>
    <div class="semi_bold">Langue</div>
    <div><%= book.format.language; %></div>
    <div class="semi_bold">Disponible</div>
    <div class="bold"><%= book.format.market; %></div>
    <div class="semi_bold">Prix</div>
    <div class="bold"><%= book.format.price; %> $ CAD</div>
    <div class="center margin_top_1rem double-column">
        <%- include('book_format_add_button.ejs') %>
    </div>
</div>
