<div id="format-tabs">
    <button id="pdf-format-tab"
    <% if (book_format.type.toLowerCase() === "pdf") { %> class="selected"
    <% }
    else { %> hx-get="/format/<%= book_format.title.toLowerCase(); %>/pdf"%>
            <% } %>
    >Format PDF
    </button>
    <button id="papier-format-tab"
    <% if (book_format.type.toLowerCase() === "papier") { %> class="selected"
    <% }
    else { %> hx-get="/format/<%= book_format.title.toLowerCase(); %>/papier"%>
            <% } %>
    >Format Papier
    </button>
</div>
<div id="format-specs" class="padding_2rem">
    <div class="semi-bold">Titre</div>
    <div><%= book_format.title; %></div>
    <div class="semi-bold">Date&nbsp;de&nbsp;publication</div>
    <div>
        <%
        let date = new Date(book_format.date);
        let month_names = [
            'janv', 'févr', 'mars', 'avr', 'mai',
            'juin', 'juil', 'août', 'sept', 'oct',
            'nov', 'déc'
        ];
        %>
        <%= `${ date.getDate() } ${ month_names[date.getMonth()] } ${ date.getFullYear() }`; %></div>
    <div class="semi-bold">Format</div>
    <div id="format-type" class="bold">
        <% if (book_format.type === 'pdf') { %>
            <%= book_format.type; %> téléchargeable
        <% } else { %> <%= book_format.type; %>
        <% } %>
    </div>
    <div class="semi-bold">Taille</div>
    <div class="bold"><%= book_format.size; %></div>
    <div class="semi-bold">Nombre&nbsp;de&nbsp;pages</div>
    <div><%= book_format.pages; %></div>
    <div class="semi-bold">Langue</div>
    <div><%= book_format.language; %></div>
    <div class="semi-bold">Disponible</div>
    <div class="bold"><%= book_format.market; %></div>
    <div class="semi-bold">Prix</div>
    <div class="bold"><%= book_format.price; %> $ CAD</div>
    <div class="center margin_top_1rem double-column">
        <button id="add_to_cart" class="orange-button"
                hx-post="cart/add/<%= book_format.title.toLowerCase() %>/<%= book_format.type %>"
                hx-swap="none">Ajouter au panier
        </button>
    </div>
</div>
<!-- path: /views/book_format.ejs -->