<div id="format-tabs">
    <button
    <% if (book_format.name.toLowerCase() === 'pdf') { %> class="blue selected cursor"
    <% }
    else { %> class="blue" hx-get="/<%= book_format.title.toLowerCase() %>/format/pdf"%>
            <% } %>
    >Format PDF
    </button>
    <button
    <% if (book_format.name.toLowerCase() === 'papier') { %> class="blue selected cursor"
    <% }
    else { %> class="blue" hx-get="/<%= book_format.title.toLowerCase() %>/format/papier"%>
            <% } %>
    >Format Papier
    </button>
</div>
<div id="format-specs" class="p2">
    <div class="semi-bold">Titre</div>
    <div><%= book_format.title; %></div>
    <div class="semi-bold">Date de publication</div>
    <div>
        <%
        let pub_date = new Date(book_format.pub_date);
        let month_names = [
            'Janvier', 'Février', 'Mars', 'Avril', 'Mai',
            'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre',
            'Novembre', 'Décembre'
        ];
        %>
        <%= `${ pub_date.getDate() } ${ month_names[pub_date.getMonth()] } ${ pub_date.getFullYear() }`; %></div>
    <div class="semi-bold">Format</div>
    <div><%= book_format.name; %></div>
    <div class="semi-bold">Taille</div>
    <div><%= book_format.size; %></div>
    <div class="semi-bold">Nombre de pages</div>
    <div><%= book_format.pages; %></div>
    <div class="semi-bold">Langue</div>
    <div><%= book_format.language; %></div>
    <div class="semi-bold">Disponible</div>
    <div><%= book_format.market; %></div>
    <div class="semi-bold">Prix</div>
    <div><%= book_format.price; %> $ CAD</div>
<div class="center mt3 double-column">
    <button class="orange-button">Ajouter au panier</button>
</div>
</div>
<!-- path: /views/book_format.ejs -->