<div class="full_width_container <%= book.background; %>">
    <div class="content_container margin_top_5rem">
        <div class="center">
            <h1 class="white"><%= book.title; %></h1>
            <div class="main-book-container">
                <img src="../img/svg/<%= book.image; %>" alt="couverture du manuel"
                     class="book-cover <%= book.border; %> ">
                <img id="preview-button" src="../img/svg/preview.svg" alt="aperçu du manuel">
            </div>
        </div>
        <h2 class="margin_top_3rem margin_bottom_1rem">Acheter le manuel <%= book.title %></h2>
        <p>Les manuels sont offerts en format numérique PDF ou en format
            papier avec une reliure en spirale. Dès que vous complétez l’achat d’un
            manuel numérique PDF, vous recevrez un lien pour le téléchargement du
            fichier. Ce lien sera valide pour 24 heures. Lorsque vous achetez un
            manuel en format papier, celui-ci vous sera envoyé par la poste pourvu
            que votre adresse soit au Canada.</p>
        <div id="tabs" class="center margin_top_2rem" hx-target="#tabs" hx-swap="innerHTML">
            <%- include('book_format.ejs') %>
        </div>
        <div class="center margin_top_1rem">
            <img id="post-logo" class="hide-post" src="../img/svg/poste_canada.svg" alt="logo de Poste Canada"
                 width="180px">
        </div>
        <h2 class="margin_top_3rem margin_bottom_1rem">À propos du manuel <%= book.title %></h2>
        <div class="long-text">
            <% if (book && book.description) { %>
                <% book.description.split('\\n').forEach(paragraph => { %>
                    <p><%= paragraph; %></p><br><br>
                <% }); %>
            <% } %>
        </div>
        <% if (book.workbook_desc) { %>
            <h2 class="margin_top_3rem margin_bottom_1rem">Manuels par niveaux</h2>
            <div>
                <% book.workbook_desc.split('\\n').forEach((paragraph) => { %>
                    <p><%- paragraph; %></p><br><br>
                <% }); %>
            </div>
            <!-- add html entity for bullet points -->
            <% book.workbooks.forEach(workbook => { %>
                <div class="white_box padding_2rem margin_bottom_2rem">
                    <h3><%= workbook.title %></h3>
                    <div class="margin_top_1rem margin_bottom_2rem"><%= workbook.description %></div>
                    <% workbook.contents.forEach(item => {
                    if (item.level === 1) { %>
                        <div class="section">&#8901; <%= item.content %></div>
                    <% } else { %>
                        <div class="subsection">&#10513; <%= item.content %></div>
                    <% } %>
                    <% }) %>
                </div>
            <% }) %>
        <% } %>
        <div id="contact"></div>
        <h2 class="margin_bottom_1rem margin_top_5rem">Contactez-moi</h2>
        <p>Pour plus d’information, je vous invite à utiliser le formulaire suivant</p>
        <%- include("contact_form.ejs") %>
    </div>
</div>

<dialog id="preview" autofocus>
    <ul>
        <% for(let i = 0; i < book.preview_images.length; i++) {
        if (i === 0) { %>
            <li>
                <img src="<%= book.preview_images[i]; %>" alt="Apperçu du contenu" class="active" loading="lazy">
            </li>
        <% } else { %>
            <li>
                <img src="<%= book.preview_images[i]; %>" alt="Apperçu du contenu" loading="lazy">
            </li>
        <% } %>
        <% } %>
    </ul>
    <button id="next">&#9205;</button>
    <button id="prev">&#9204;</button>
</dialog>
