<div class="full-width-container <%= book.background; %>">
    <div class="content-container mt3">
        <div class="center mt5">
            <h1 class="white mb1"><%= book.title; %></h1>
            <img src="./img/svg/<%= book.image; %>" alt="couverture du manuel"
                 class="book-cover img-fade <%= book.border; %> >">
        </div>
        <%- include('book_format.ejs') %>
        <h2 class="mt3 mb1">À propos</h2>
        <div class="long-text">
            <% book.description.split('\\n').forEach((paragraph) => { %>
                <p><%= paragraph; %></p><br><br>
            <% }); %>
        </div>
        <% if (book.workbook_desc) { %>
            <h2 class="mt3 mb1">Manuels par niveaux</h2>
            <div>
                <% book.workbook_desc.split('\\n').forEach((paragraph) => { %>
                    <p><%= paragraph; %></p><br><br>
                <% }); %>
            </div>
        <% } %>
    </div>
</div>
<!--path: /views/book.ejs-->
