<div class="full-width-container <%= book.background; %>">
    <div class="content-container margin_top_5rem">
        <div class="center">
            <h1 class="white"><%= book.title; %></h1>
            <div class="main-book-container">
                <img src="./img/svg/<%= book.image; %>" alt="couverture du manuel"
                     class="book-cover <%= book.border; %> ">
                <img id="preview-button" src="./img/svg/preview.svg" alt="aperçu du manuel">
            </div>
        </div>
        <h2 class="margin_top_3rem margin_bottom_1rem">À propos du manuel <%= book.title %></h2>
        <div class="long-text">
            <% book.description.split('\\n').forEach((paragraph) => { %>
                <p><%= paragraph; %></p><br><br>
            <% }); %>
        </div>
        <h2 class="margin_top_3rem margin_bottom_1rem">Acheter maintenant</h2>
        <p style="color: red;">The textbooks are available as a downloadable PDF or physical copy. After making
            your purchase, a link to download the PDF will be sent to you via email. Physical copies are shipped via
            Canada Post and only available within Canada.</p>
        <p style="color: red;">Please choose your version below:</p>
        <div id="tabs" class="center margin_top_3rem" hx-target="#tabs" hx-swap="innerHTML">
            <%- include('book_format.ejs') %>
        </div>
        <div class="center margin_top_1rem">
            <img id="post-logo" class="hide-post" src="./img/svg/poste_canada.svg" alt="logo de Poste Canada"
                 width="180px">
        </div>
        <% if (book.workbook_desc) { %>
            <h2 class="margin_top_3rem margin_bottom_1rem">Manuels par niveaux</h2>
            <div>
                <% book.workbook_desc.split('\\n').forEach((paragraph) => { %>
                    <p><%- paragraph; %></p><br><br>
                <% }); %>
            </div>
            <div>
                <!-- add html entity for bullet points -->
                <% book.workbooks.forEach(workbook => { %>
                    <h3 class="margin_top_2rem"><%= workbook.title %></h3>
                    <% workbook.content.forEach(item => {
                    if (item.level === 1) { %>
                        <div class="section">&#8901; <%= item.description %></div>
                    <% } else { %>
                        <div class="subsection">&#10513; <%= item.description %></div>
                    <% } %>
                    <% }) %>
                <% }) %>
            </div>
        <% } %>
        <div id="contact"></div>
        <h2 class="margin_bottom_1rem margin_top_5rem">Contactez-moi</h2>
        <p style="color: red">For more information, feel free to contact me using the form below</p>
        <form class="margin_bottom_4rem">
            <label for="courriel" class="block margin_top_2rem margin_bottom_1rem">Courriel</label>
            <input id="courriel" type="email" class="grey-border" placeholder="mon@couriel.com" />
            <label for="subject" class="block margin_top_2rem margin_bottom_1rem">Sujet</label>
            <input id="subject" type="text" class="grey-border" required value="Manuel <%= book.title %>" />
            <label for="message" class="block margin_top_2rem margin_bottom_1rem">Message</label>
            <textarea id="message" rows="10" class="grey-border" required></textarea>
            <button class="main-button margin_top_2rem">Envoyer</button>
        </form>
    </div>
</div>

<dialog id="preview" autofocus>
    <ul>
        <% for(let i = 0; i < images.length; i++) {
        if (i === 0) { %>
            <li>
                <img src="<%= images[i]; %>" alt="Apperçu du contenu" class="active" loading="lazy">
            </li>
        <% } else { %>
            <li>
                <img src="<%= images[i]; %>" alt="Apperçu du contenu" loading="lazy">
            </li>
        <% } %>
        <% } %>
    </ul>
    <button id="next">&#9205;</button>
    <button id="prev">&#9204;</button>
</dialog>

// path: /views/book.ejs
