<div class="full_width_container margin_bottom_2rem">
    <div class="content_container margin_top_5rem">
        <div class="center margin_bottom_1rem">
            <h1>Votre panier</h1>
        </div>
        <div class="cart">
            <div id="cart_items">
                <% if (typeof cartItems === 'undefined' || cartItems.length === 0) { %>
                    <div class="cart_item empty_cart margin_top_3rem">
                        <p>Votre panier est vide</p>
                    </div>
                <% } else { %>
                    <% cartItems.forEach(item => { %>
                        <% const title = item.title.toLowerCase(); %>
                        <% const type = item.type.toLowerCase(); %>
                        <div class="cart_item">
                            <div class="cart_item_image">
                                <img src="/img/svg/<%= `${ title }_cover.svg`; %>" alt="<%= item.title; %>">
                            </div>
                            <div class="cart_item_description">
                                <div class="cart_item_detail">
                                    <div class="cart_item_label bold">
                                        Manuel:
                                    </div>
                                    <div>
                                        <%= item.title; %>
                                    </div>
                                </div>
                                <div class="cart_item_detail">
                                    <div class="cart_item_label bold">
                                        Format:
                                    </div>
                                    <div>
                                        <%= item.type.toUpperCase(); %>
                                    </div>
                                </div>
                                <div class="cart_item_detail">
                                    <div class="cart_item_label bold">
                                        Prix:
                                    </div>
                                    <div class="cart_item_price bold">
                                        <%= item.price %>$ CAD
                                    </div>
                                </div>
                            </div>
                            <div class="delete_cart_item">
                                <button hx-delete="cart/delete/<%= title %>/<%= type %>" hx-swap="innerHTML"
                                        hx-target="main" class="red_button delete">supprimer
                                </button>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
            <div id="cart_summary">
                <div id="post_code">
                    <% if (requirePostcode) { %>
                        <% console.log('requirePostcode', requirePostcode) %>
                        <div>Pour connaître le coût de livraison, indiquer votre code postal:</div>
                        <form hx-post="cart/postcode" id="post_code_form">
                            <input id="post_code_input" maxlength="7">
                            <button id="post_code_submit_button" class="main_button blue
                            small" type="submit">soumettre</button>
                        </form>
                    <% } %>
                </div>
                <div class="cart_totals">
                    <% if (typeof cart !== 'undefined') { %>
                        <div id="cart_amounts">
                            <div>sous-total:</div>
                            <div><%= cart.subtotal %></div>
                            <div>taxes:</div>
                            <div><%= cart.taxes %></div>

                            <div class="bold">total:</div>
                            <div class="bold"><%= cart.total %></div>
                        </div>
                        <button class="orange_button">Passer à la caisse</button>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
