<div id="cart_heading">
    <h4>Votre panier</h4>
</div>
<div id="cart_items">
    <% if (typeof cartItems === 'undefined') { %>
        <div class="cart_item empty_cart">
            <p>Votre panier est vide</p>
        </div>
    <% } else if (cartItems.length === 0) { %>
        <div class="cart_item">
            <p>Votre panier est vide</p>
        </div>
    <% } else { %>
        <% cartItems.forEach(item => { %>
            <div class="cart_item">
                <div class="cart_item_image">
                    <img src="/img/svg/<%= `${ item.title.toLowerCase() }_cover.svg`; %>" alt="<%= item.title; %>">
                </div>
                <div class="delete_cart_item">
                    <button>&times;</button>
                </div>
                <div class="cart_item_label">
                    Format:
                </div>
                <div class="cart_item_detail">
                    <%= item.type.toUpperCase(); %>
                </div>
                <div class="cart-item-label">
                    Prix:
                </div>
                <div class="cart_item_price">
                    <%= item.total.toFixed(2); %>$ CAD
                </div>
                <label class="cart_item_label" for="quantity">
                    Quantité:
                </label>
                <div class="cart_item_quantity">
                    <select name="quantity" id="quantity">
                        <% for (let i = 1; i <= 3; i++) { %>
                            <option value="<%= i; %>" <% if (i === item.quantity) { %>selected
                                    <% } %>
                            ><%= i; %></option>
                        <% } %>
                    </select>
                </div>
            </div>
        <% }); %>
    <% } %>
</div>