<div>Titre</div>
<div><%= book.title; %></div>
<div>Date de publication</div>
<div>
    <%
    let pub_date = new Date(book_format.pub_date);
    let month_names = [
        'Janvier', 'Février', 'Mars', 'Avril', 'Mai',
        'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre',
        'Novembre', 'Décembre'
    ];
    %>
    <%= `${ pub_date.getDate() } ${ month_names[pub_date.getMonth()] } ${ pub_date.getFullYear() }`; %></div>
<div>Format</div>
<div><%= book_format.name; %></div>
<div>Taille</div>
<div><%= book_format.size; %></div>
<div>Nombre de pages</div>
<div><%= book_format.pages; %></div>
<div>Langue</div>
<div><%= book_format.language; %></div>
<div>Disponible</div>
<div><%= book_format.market; %></div>
<div>Prix</div>
<div><%= book_format.price; %> $ CAD</div>