<div class="full_width_container off_white_background">
    <div class="content_container">
        <h1 class="margin_top_5rem center">Caisse</h1>
        <% const amount = cartItems.length; %>
        <form class="margin_bottom_4rem">
            <label for="given_name" class="block margin_top_2rem margin_bottom_1rem">Votre prénom tel qu'il est spécifié
                sur votre mode de paiement</label>
            <input id="given_name"
                   type="text"
                   name="given_name"
                   class="white_box"
                   autocomplete="given-name"
                   value="<%= customer.given_name || ""; %>"
                   required />

            <label for="family_name" class="block margin_top_2rem margin_bottom_1rem">Votre nom de famille tel qu'il
                est
                spécifié sur votre mode de paiement</label>
            <input id="family_name"
                   type="text"
                   name="family_name"
                   class="white_box"
                   autocomplete="family-name"
                   value="<%= customer.family_name || ""; %>"
                   required />

            <label for="email"
                   class="block margin_top_2rem margin_bottom_1rem">Courriel
            </label>
            <input id="email"
                   type="email"
                   name="email"
                   class="white_box"
                   autocomplete="email"
                   value="<%= customer.email || ""; %>"
                   required />

            <label for="confirm_email"
                   class="block margin_top_2rem margin_bottom_1rem">Confirmez votre courriel
            </label>
            <input id="confirm_email"
                   type="email"
                   name="confirm_email"
                   class="white_box"
                   autocomplete="email"
                   value="<%= customer.email || ""; %>"
                   required />

            <label for="address"
                   class="block margin_top_2rem margin_bottom_1rem">Adresse
            </label>
            <input id="address"
                   type="text"
                   name="address"
                   class="white_box"
                   autocomplete="address-line1"
                   value="<%= customer.address || ""; %>"
                   required />

            <label for="city"
                   class="block margin_top_2rem margin_bottom_1rem">Ville ou municipalité
            </label>
            <input id="city"
                   type="text"
                   name="city"
                   class="white_box"
                   autocomplete="address-level2"
                   value="<%= customer.city || ""; %>"
                   required />

            <label for="province"
                   class="block margin_top_2rem margin_bottom_1rem">Province
            </label>
            <select id="province" name="province" class="white_box padding_1rem full_width">
                <option>Sélectionner province/territoire</option>
                <option value="AB">Alberta</option>
                <option value="BC">Colombie-Britannique</option>
                <option value="MB">Manitoba</option>
                <option value="NB">Nouveau-Brunswick</option>
                <option value="NL">Terre-Neuve-et-Labrador</option>
                <option value="NS">Nouvelle-Écosse</option>
                <option value="NT">Territoires du Nord-Ouest</option>
                <option value="NU">Nunavut</option>
                <option value="ON">Ontario</option>
                <option value="PE">Île-du-Prince-Édouard</option>
                <option value="QC">Québec</option>
                <option value="SK">Saskatchewan</option>
                <option value="YT">Yukon</option>
            </select>

            <label for="country" class="margin_top_2rem margin_bottom_1rem">Pays</label>
            <div class="white_box full_width padding_1rem">Canada</div>

            <label for="postcode"
                   class="block margin_top_2rem margin_bottom_1rem">Code postal
            </label>
            <input id="postcode"
                   type="text"
                   name="postcode"
                   class="white_box"
                   value="<%= customer.postcode || ""; %>"
                   required />

            <div class="block margin_top_2rem label">Résumé de votre panier
                <% if(amount > 1) { %>
                    (<%= amount; %> manuels)
                <% } else { %>
                    (<%= amount; %> manuel)
                <% } %>
            </div>
            <div class="flex_row_space_between white_box padding_1rem margin_top_1rem">
                <div class="flex_row_start">
                    <% cartItems.forEach((item) => {
                        const title = item.title.toLowerCase();
                        const type = item.type.toLowerCase(); %>
                    <div class="flex_column_start margin_right_1rem">
                        <div class="cart_item_image">
                            <img src="/img/svg/<%= `${ title }_cover.svg`; %>"
                                 alt="couverture <%= item.title; %>">
                        </div>
                        <div class="bold center"><%= item.title %></div>
                        <div class="center"><%= `${ type }` %></div>
                    </div>
                    <% }); %>
                </div>
                <div class="flex_column_end">
                    <div class="cart_amounts">
                        <% if (totals) { %>
                            <div id="cart_amounts">
                                <div>sous-total:</div>
                                <div><%= totals.subtotal || '' %></div>
                                <div>taxes:</div>
                                <div><%= totals.taxes || "" %></div>
                                <% if (totals.shipping !== undefined && totals.shipping > 0 ) { %>
                                    <div>livraison:</div>
                                    <div><%= totals.shipping || '' %></div>
                                <% } %>
                                <div class="bold">total:</div>
                                <div class="bold"><%= totals.total || '' %></div>
                            </div>
                        <% } %>
                    </div>
                    <button class="orange_button margin_top_2rem"
                            disabled="disabled"
                            hx-post="/caisse/papier"
                            hx-target="html"
                    >
                        Payer
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>